html {
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
  padding: 15px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: $font-family--body;
  background-color: $page-bg;
  color: $font-color;
  @media screen and (min-width: 765px) {
    padding: 30px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-family--titles;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  max-width: 100%;
}

.main-page__band-picture {
  margin: 0 auto;
}

.main-page__text {
  text-align: justify;
}

.footer__pages {
  flex: 2;
}

.nav__link {
  color: $link-color;
  padding: 5px;
  &:hover {
    font-weight: bold;
  }
}

.nav__link--icon {
  &:hover {
    transform: scale(1.2);
  }
}

.list-group-horizontal {
  justify-content: center;
  flex-wrap: wrap;
}

@supports (display: grid) {
  @media screen and (min-width: 450px) {
    .main-page {
      display: grid;
      min-height: 100vh;
      grid-template-rows: auto 1fr auto;
    }
  }

  .main-page__content {
    @media screen and (min-width: 765px) {
      display: grid;
      gap: 15px;
      grid-template-areas:
        "title           title"
        "band-picture    text"
        "footer-picture  footer-picture";
      align-items: start;
      align-content: space-around;
    }
  }

  .main-page__title {
    grid-area: title;
  }

  .main-page__band-picture {
    grid-area: band-picture;
  }
  .main-page__text {
    grid-area: text;
  }
  .main-page__footer-picture {
    grid-area: footer-picture;
  }
}
